* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/*RESETS*/
a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*TITLES*/
h1 {
  font-weight: 750;
}

/*COLORS*/
:root {
  --background: #edf8ff;
  --tarefas: #99d8ff;
  --main: #38b6ff;
  --check: #0095f1;
  --limpar: #ff7070;
  --nav-buttons: white;
  --nav-buttons-hover: #72cbff;
  --adicionar-shadowbox: #017ec7;
  --texto-inputs: rgba(0, 0, 0, 0.2);
  --input: black;
  --inputs-background: white;
  --limpar-shadowbox: #d10000;
  --titulo-degrade-1: #0069a6;
  --titulo-degrade-2: #00e8ff;
  --output-message: #38b6ff;
}

.dark {
  --background: #003150;
  --tarefas: #004c7b;
  --main: #0069a6;
  --check: #0095f1;
  --limpar: #b20000;
  --nav-buttons: #004c7b;
  --nav-buttons-hover: #00304e;
  --texto-inputs: rgba(255, 255, 255, 0.5);
  --input: white;
  --inputs-background: #004c7b;
  --adicionar-shadowbox: #00446b;
  --limpar-shadowbox: #7b0000;
  --titulo-degrade-1: #bef7ff;
  --titulo-degrade-2: #00e8ff;
  --output-message: white;
}

body {
  height: 100vh;
  background-color: var(--background);

  /*FONT*/
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

/*
___________________ H E A D E R ______________________
_____________________ ⬇ ⬇ ⬇ __________________________
*/

header {
  padding: 0.9rem;
  position: absolute;
  width: 100%;
  background-color: var(--main);
}

header nav ul img {
  width: 30px;
  cursor: pointer;
}

header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-buttons);
  padding: 0.5rem;
  border-radius: 50%;
  transition: 0.2s ease;
}

header nav ul li:hover {
  transform: scale(1.05);
  background-color: var(--nav-buttons-hover);
}

header nav ul li:active {
  transform: scale(0.95);
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 30px 0 30px;
}

@media (orientation: landscape) {
  header nav ul img {
    width: 50px;
  }

  header nav ul {
    justify-content: center;
    gap: 18rem;
  }
}

/*
_____________________ M A I N ________________________
_____________________ ⬇ ⬇ ⬇ __________________________
*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  height: 90%;
}

main .container {
  width: 75%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main .main-title-container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}

main .main-title-container h1 {
  font-size: 42px;
  text-align: justify;
  text-align-last: justify;
  font-weight: 900;

  background: linear-gradient(
    45deg,
    var(--titulo-degrade-1),
    var(--titulo-degrade-2)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@media (max-width: 375px) {
  main .main-title-container h1 {
    font-size: 40px;
  }
}

main .main-title-container img {
  width: 39px;
  height: 39px;
}

@media (orientation: landscape) {
  main .main-title-container h1 {
    font-size: 80px;
  }

  main .main-title-container img {
    width: 59px;
    height: 59px;
  }
}

main .inputs-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main .inputs-container .input {
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--inputs-background);
  padding: 18px 18px 18px 18px;
  color: var(--input);
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

main .inputs-container .input::placeholder {
  color: var(--texto-inputs);
  font-weight: 300;
  font-size: 15px;
}

@media (orientation: landscape) {
  main .inputs-container .input::placeholder {
    font-size: 20px;
  }

  main .inputs-container .input {
    font-size: 20px;
  }
}

main .inputs-container .title-input {
  height: 40px;
}

main .inputs-container .description-input {
  height: 130px;
}

@media (orientation: landscape) {
  main .inputs-container .title-input {
    height: 60px;
  }

  main .inputs-container .description-input {
    height: 150px;
  }
}

main .inputs-container button {
  height: 40px;
  border-radius: 30px;
  letter-spacing: 12px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: var(--main);
  border: none;
  box-shadow: 0 6px 0 0 var(--adicionar-shadowbox);
  margin-bottom: 20px;
}

main .inputs-container button:hover {
  background-color: var(--check);
}

main .inputs-container button:active {
  box-shadow: 0 0 0 0 transparent;
  transform: translateY(6px);
}

@media (orientation: landscape) {
  main .inputs-container button {
    height: 80px;
    font-size: 25px;
    box-shadow: 0 12px 0 0 var(--adicionar-shadowbox);
  }

  main .inputs-container button:hover {
    background-color: var(--check);
  }

  main .inputs-container button:active {
    box-shadow: 0 0 0 0 transparent;
    transform: translateY(12px);
  }
}

main .output-message-container.opened {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  color: var(--output-message);
  font-weight: 500;
  text-align: center;
  transform: scale(1.1);
  font-size: 16px;
  transition: 0.5s ease;
}

main .output-message-container.closed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  gap: 0.3rem;
  color: var(--main);
  font-weight: 500;
  opacity: 0;
  transition: 0.5s ease;
}

@media (orientation: landscape) {
  main .output-message-container.opened {
    font-size: 20px;
  }

  main .output-message-container.closed {
    font-size: 18px;
  }
}

main .output-message-container img {
  width: 15px;
}

/*
___________________ F O O T E R ______________________
_____________________ ⬇ ⬇ ⬇ __________________________
*/
footer {
  position: fixed;
  left: 0%;
  bottom: 0%;
  width: 100%;
  font-weight: 300;
  padding: 8px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--main);
}
